
/*
a:link {
   color: #C85127;
   text-decoration: none;
}
a:visited {
   color: #C85127;
}
a:hover {
   color: #dd7955;
}
a:active {
   color: #C85127;
}*/
<style>
@font-face {
    font-family: jauria;

    src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(tipos/jauria/jauria-Italic-v.otf);
}

.own-container{
}

/* index */

@media (min-width:550px) {
  .own-indexBackgroundImage{
    width: 100%;
    /*height: 100%;*/
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
  }
}

@media (max-width:550px) {
  .own-indexBackgroundImage{
    /*width: 100%;*/
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
  }
}
.own-langIndex{
  text-align: right;
  margin-right: 50px;
  display: block;
}
.own-langIndex a:link{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}
.own-langIndex a:visited{
  color: #ffffff;
}

.own-menu{
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}
.own-overImage-logo{
  margin-left: 30px;
  width: 200px;

}
.own-whiteText a:link{
  color: #ffffff!important;
}
.own-whiteText a:visited{
  color: #ffffff!important;
}
.own-whiteText a:hover{
  color: #C85127!important;
}
/*.own-menuButtonsIndex{
  float: right;
  margin-right: 50px;
}
.own-menuButtonsIndex a:link{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}
.own-menuButtonsIndex a:visited{
  color: #ffffff;
}
.own-menuButtonsIndex a:hover{
  color: #C85127;
}*/




.own-mainTitleBox{
  left: 0;
  margin-top: 10%;
  width: 100%;
  text-align: center;
  font-family: jauria;
}
.own-mainTitle{
  color: #ffffff;
  background: #C85127;
  font-size: 45px;
  width: 400px;
  margin-left: auto; /*temporal*/
  margin-right: auto;
}
.own-subTitle{
  color: #ffffff;
  font-style: italic;
  font-size: 24px;
}
.own-verkami{
  /*border: 1px solid #000000;*/
  margin-top: 20px;
  cursor: pointer;
}
.own-socialNetworks{
  margin-left: 2%;
  margin-top: 5%;
  display: inline-block;
}
.own-socialNetwork{
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.own-socialNetwork-facebookMargin{
  margin-right: 10px;
}
.own-teaser{
  float: right;
  margin-right: 2%;
  margin-top: calc(6% - 10px);
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.temp-marge1{
  display: inline-block;
  margin-top: 10%;
}
.own-whiteOverImage{
  background: #ffffff;
  padding-top: 10px;

}
@media (max-width:1080px) {
  .own-caixaDescripcioIndex{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    max-width: calc(100% - 300px);
    min-width: 320px;
    background: #ffffff;
    font-size: 18px;
  }
}
@media (min-width:1080px) {
  .own-caixaDescripcioIndex{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    max-width: calc(100% - 700px);
    min-width: 320px;
    background: #ffffff;
    font-size: 18px;
  }
}

.own-caixaImatgesIndex{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}
.own-caixaImatgeIndex{
  display: inline-block;
  margin: 2%;
}
.own-imatgeIndex{
  /*display: inline-block;*/

  width: 210px;
}
.own-caixaImatgeIndex .own-textHoverImage{
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  /*display: inherit;*/
  z-index: 1px;
  background: rgba(200, 81, 39, 0.4);
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  padding-top: 90px;
  /*padding-left: 100px;*/
  width: 210px;
  height: 210px;
}

.own-caixaImatgeIndex:hover .own-textHoverImage{
  visibility:visible;
}
/*  /index  */


/* footer */
.own-footer{
  width: 100%;
  text-align: center;
  background: #262626;
  height: 250px;
  padding-top: 20px;
  padding: 2%;
}
.own-footer h3{
  color: #ffffff;
}
.own-footer a:link {
   color: #C85127;
   text-decoration: none;
   display: block;
}
.own-footer a:hover {
   color: #dd7955;
}
.own-caixaFooter{
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
/* /footer */



/* projecte, bakur, agenda */
.own-lang{
  text-align: right;
  margin-right: 50px;
  display: block;
}
.own-lang a:link{
  text-decoration: none;
  color: #000000;
  /*font-weight: bold;*/
  display: inline-block;
  margin: 10px;
}
.own-lang a:visited{
  color: #000000;
}
.own-bold{
  font-weight: bold;
}

.own-menuButtons{
  float: right;
  margin-right: 50px;
}
.own-menuButtons a:link{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
}
.own-menuButtons a:visited{
  color: #000000;
}
.own-menuButtons a:hover{
  color: #C85127;
}
.own-currentPageMenu{
  color: #C85127!important;
  border-bottom: 3px solid #C85127;
  padding-left: 7px;
  padding-right: 7px;
}
.own-imgHeader{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.own-nosaltresContent{
  width: 100%;
  text-align: center;
}
.own-linksLeft{
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  max-width: 100px;
}
.own-linksLeft a:link{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: block;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #000000;
  padding-top: 20px;
  width: 120px;
}
.own-linksLeft a:visited{
  color: #000000;
}
.own-linksLeft a:hover{
  color: #C85127;
}
.own-orange{
  color: #C85127!important;
}
.own-projecteText{
  display: inline-block;
  max-width: 600px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  padding-bottom: 40px;
}


.own-desplegableAmagat{
  display: none;

}
.own-desplegable{
  display: block;
  z-index: 1;
  position: absolute;
  background: #C85127;
  max-width: 600px;
  margin-left: 18%;
  padding: 30px;
}

.own-rightBox{
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  text-align: left;
}
.own-rightBox a:link{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: block;
  margin: 10px;
  margin-bottom: 30px;
}
.own-rightBox a:visited{
  color: #000000;
}
.own-rightBox a:hover{
  color: #C85127;
}

@media (max-width:1200px) {
  .own-textBoxLeft{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    max-width: 600px;
    text-align: left;
    font-weight: bold;
  }
}
@media (min-width:1200px) {
  .own-textBoxLeft{ /*a pantalla gran, barra lateral left*/
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    max-width: 200px;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
  }
}

.own-nosaltresCenterRight{
  display: inline-block;
  max-width: 800px;
  text-align: left;
  vertical-align: top;
}
.own-imgTopText{
  width: 100%;
  margin-bottom: 30px;
}

.own-nosaltresTitle{
  font-size: 45px;
  font-weight: bold;
  padding-left: 7%;
  text-align: left;
}
.own-nosaltresText{
  display: inline-block;
  max-width: 600px;
  text-align: left;
  vertical-align: top;
  padding-bottom: 40px;
}
